<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <fullpay>
                <active>1</active>
                <model>Bloom\Bloom\Model\Fullpay</model>
                <title>Bloom Checkout</title>
                <public_key></public_key>
                <private_key></private_key>
                <payment_action>authorize</payment_action>
                <bloom_style></bloom_style>
                <shipping_title>Bloom Shipping</shipping_title>
                <price>10.00</price>
            </fullpay>
        </payment>
        <carriers>
            <bloom_shipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Bloom\Bloom\Model\Carrier\BloomShipping</model>
                <name>Bloom Shipping</name>
                <price>0.00</price>
                <title>Bloom Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </bloom_shipping>
        </carriers>
    </default>
</config>
